<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_5171580_김상원.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=MyORCL;PASSWORD=B5171580;PERSIST SECURITY INFO=True;USER ID=B5171580"
            providerName="Oracle.ManagedDataAccess.Client" />
        <add name="Connection" connectionString="XpoProvider=Oracle;&#xD;&#xA;Data Source=210.125.31.162/ORCL;&#xD;&#xA;User ID=B5171580;&#xD;&#xA;Password=B5171580" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>